.typing_loader{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: typing 1s linear infinite alternate;
  -ms-animation: typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  left: -12px;
  margin: 7px 15px 6px;
}

.to .typing_loader {
  animation: typing-black 1s linear infinite alternate;
}

@-webkit-keyframes typing{
  0%{
    background-color: rgba(255,255,255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  50% {
    background-color: rgba(255,255,255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,1),
    24px 0px 0px 0px rgba(255,255,255,0.4);
  }
  100%{
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,1);
  }
}

@-moz-keyframes typing{
  0%{
    background-color: rgba(255,255,255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  50% {
    background-color: rgba(255,255,255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,1),
    24px 0px 0px 0px rgba(255,255,255,0.4);
  }
  100%{
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,1);
  }
}

@keyframes typing-black{
  0%{
    background-color: rgba(74, 74, 74, 1);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4),
    24px 0px 0px 0px rgba(74, 74, 74, 0.2);
  }
  50% {
    background-color: rgba(74, 74, 74, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 1),
    24px 0px 0px 0px rgba(74, 74, 74,0.4);
  }
  100%{
    background-color: rgba(74, 74, 74, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74,0.4),
    24px 0px 0px 0px rgba(74, 74, 74,1);
  }
}
@keyframes typing{
  0%{
    background-color: rgba(255,255,255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  50% {
    background-color: rgba(255,255,255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,1),
    24px 0px 0px 0px rgba(255,255,255,0.4);
  }
  100%{
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
    24px 0px 0px 0px rgba(255,255,255,1);
  }
}

form#convForm {
  width: calc(100%);
  margin: 25px auto 0px;
  padding: 0 !important;
  position: relative;
  border-top: 1px solid rgba(222, 222, 222, 0.4);
}
form#convForm textarea#userInput {
  border: none;
  padding: 7px 10px;
  outline: none;
  font-size: 0.905rem;
  float: left;
  width: calc(100% - 70px);
  line-height: 1.3em;
  min-height: 1.7em;
  max-height: 10rem;
  display: block;
  max-width: 88%;
  margin-right: 2.5%;
}

div#chat.conv-form-wrapper div#messages {
  max-height: 71vh;
  height: auto !important;
  overflow-y: scroll;
}
div#chat.conv-form-wrapper div#messages:after {
  content: '';
  display: table;
  clear: both;
}
div#chat.conv-form-wrapper {
  position: relative;
}
div#chat.conv-form-wrapper div.wrapper-messages {
  position: relative;
  height: 577px;
  max-height: 71vh;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  div#chat.conv-form-wrapper div.wrapper-messages, div#chat.conv-form-wrapper div#messages {
    max-height: 71vh;
  }
}

div#chat div.wrapper-messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar, div#chat div.options::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
#userInput.error {
  color: #ac0000 !important;
}
#userInput {
  border-radius: 3px;
  margin: 7px 10px;
}
div#chat.conv-form-wrapper div#messages {
  transition: bottom 0.15s, padding-bottom 0.15s;
  position: absolute;
  bottom: 0;
  height: auto !important;
  width: 100%;
  padding-bottom: 20px;
  /*max-height: 71vh;*/
}
div#chat div.options {
  word-wrap: normal;
  white-space: nowrap;
  overflow-x: scroll;
  position: absolute;
  bottom: 100%;
  width: 100%;
  transform: translateY(-5px);
}
div#chat div.options:after {
  content: '';
  display: table;
  clear: both;
}
div#chat div.options div.option {
  padding: 7px 12px;
  border: 1px solid rgba(196, 0, 0, 0.3);
  display: inline-block;
  margin: 5px;
  background: #fff;
  color: #c40000;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.9rem;
}
div#chat.conv-form-wrapper div.message {
  animation: slideTop 0.15s ease;
}
div#chat.conv-form-wrapper div.message:after {
  content: '';
  display: table;
  clear: both;
}
div#chat.conv-form-wrapper  div.message.ready {
  animation: bounceIn 0.2s ease;
  transform-origin: 0 0 0;
}
div#chat.conv-form-wrapper  div#messages div.message {
  border-radius: 20px;
  padding: 12px 22px;
  font-size: 0.905rem;
  color: #333;
  display: inline-block;
  padding: 10px 15px 12px;
  border-radius: 20px;
  margin-bottom: 5px;
  float: right;
  clear: both;
  max-width: 65%;
  word-wrap: break-word;
}
div#chat.conv-form-wrapper  div#messages div.message.to {
  background: #efefef;
  color: #6f6f6f;
  float: left;
}
div#chat.conv-form-wrapper div#messages div.message.from {
  background: #c40000;
  color: #fff;
}
.message.to+.message.from, .message.from+.message.to {
  margin-top: 15px;
}
@keyframes slideTop {
  0% {
    margin-bottom: -25px;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}
div#chat div.options div.option:hover {
  background: #eeeeee;
}
div#chat div.options div.option.selected {
  background: #06b79a;
  color: #fff;
}
div#chat div.options div.option.selected:hover {
  background: #069c7f;
}
#convForm button.submit {
  font-size: 25px;
  border: none;
  float: left;
  margin: 5px;
  color: #c40000;
  cursor: pointer;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background: #fff;
  outline: none !important;
  border: 1px solid;
}
#convForm button.submit:hover {
  background: #c40000;
  color: white;
}

button.submit.glow {
  box-shadow: 0 0 10px 5px rgba(6, 197, 166, 0.4);
}
.no-border {
  border: none !important;
}
.dragscroll {
  cursor: grab;
}
div#chat div#messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
span.clear {
  display: block;
  clear: both;
}
