#projects-new{
  .backshade{
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #1b1b1b;


    min-height: 100px;
    display: flex;
    align-items: center;

    nav{
      padding-top: 0px;
    }
  }

  #footer{
    padding: 50px 8% 50px 8%;
    min-height: auto;
  }

  .card-panel{
    border-radius: 5px;
  }

  .title{
    padding: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
