#clearance-sessions-create{
  background-color: #ef5350;
  white-space: pre-wrap;

  .input-field{
    margin-top: 0px;
  }

  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    height: 1rem;
    margin: 0 0 0 0;
    margin-top: 1rem;
    padding: 7px;
  }

  .card{
    padding-left: 15%;
    padding-right: 15%;
  }
}
