<%= form_for :session, url: session_path do |form| %>
  <div class="input-field col s12">
    <%= form.text_field :email, type: 'email', placeholder: "Email" %>
  </div>

  <div class="input-field col s12">
    <%= form.password_field :password, placeholder: "Senha" %>
  </div>

  <div class="input-field col s12 center">
    <%= form.submit "Entrar", class:"waves-effect waves-red btn-flat" %>
  </div>
<% end %>
