$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.swal2-input:focus:not([readonly]){
  border: 1px solid #c40000 !important;
  box-shadow: none !important;
}

.swal2-title{
  @include respond-to(handhelds) {
    font-size: 22px !important;
  }
  @include respond-to(medium-screens) {
    font-size: 22px !important;
  }
  @include respond-to(wide-screens) {
    font-size: 28px !important;
  }

  font-weight: 300 !important;
}

.swal2-confirm{
  background-color: #C40000 !important;
}


.swal2-modal{
  @include respond-to(handhelds) {
    padding: 50px !important;
  }
  @include respond-to(medium-screens) {
    padding: 50px !important;
  }
}
