<div id="comment-section">
  <div class="row">
    <div class="col s12 l10 offset-l2">
      <h5 class="comment-header">
        <%= fa_icon 'commenting', class: 'center-align valign share-alt' %>  <%= @post.comments.count %> COMENTÁRIOS:
      </h5>
    </div>
  </div>
  <% @comments.reverse_order().each do |comment| %>
  <div class="row">
    <div class="col s12 l10 offset-l2">
      <div class="comment">
        <h5><%= comment.lead.name %></h5>
        <span><%= comment.created_at.strftime("%d/%m/%Y às %H:%M") %></span>
        <p class="roboto"><%= comment.text %></p>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row comment-form">
    <div class="col s12 l10 offset-l2">
      <p class="comment-form-header">Participe da discussão</p>
      <%= form_tag('/comments', id: "post-comment" ) do %>
        <%= hidden_field_tag :post_id, @post.id %>
        <div class="row">
          <div class="input-field col s12 l12">
            <%= text_area_tag 'text', nil, class: "materialize-textarea comment-text-area", placeholder: "Escreva seu comentário" %>
          </div>
          <div class="input-field col s12 l6">
            <%= text_field_tag 'name', nil, class: "comment-text-form", placeholder: "Nome" %>
          </div>
          <div class="input-field col s12 l6">
            <%= text_field_tag 'email', nil, class: "comment-text-form form-left-margin", placeholder: "E-mail" %>
          </div>
          <div class="input-field col s12 l12">
            <%= recaptcha_tags %>
          </div>
        </div>
        <button class="send-comment" onclick="submitComment()">
          comentar
        </button>
      <% end %>
    </div>
  </div>
</div>
