#header
  .header-backdrop
    = render 'shared/header'
  h1
    b
      | blog_
    |  red
    b
      | rocket
  #tag-list
    .hide-on-small-only
      = t("header.tags")
    - @tags.each do |tag|
      = link_to tag.title, "?filter=#{tag.id}", class: "tag-button"
    - if @tags.count >= 5
      = link_to t("header.see-more"), "", class:"see-more"
