#list-of-posts
  .card.main-card
    h5.card-title
      = t("list-of-posts.recent-posts")
    - @posts.each do |post|
      .post.row
        .col.l6.photo-col
          = link_to post do
            = image_tag post.header.url, alt: post.title, title: post.title
        .col.l6.text-col
          h5.tag-title
            = link_to post.tag.title, "?filter=#{post.tag.id}"
          h4.post-title
            = link_to post.title, post
          p.description.roboto
            = clean post.text
          = link_to t("list-of-posts.see-more"), post,  class:"see-more"
          .row.user-row
            .col.s3.writer-image style="background-image: url('#{post.team_member.photo.url}');"
            .col.s9.post-data
              span.writer-name
                = post.team_member.name
              br
              span.post-date
                = post.created_at.strftime("%d/%m/%Y às %H:%M")
    button.btn.load-more[onclick="loadMore()"]
      = t("list-of-posts.load-more")


