#most-popular
  h4.sub-header
    = t("most-popular")
  .row
    - @popular_posts.each do |post|
      .col.l4
        .card
          .card-image
            = link_to post do
              = image_tag post.header.url, alt: post.title, title: post.title
          .card-content
            span.tag-title
              = link_to post.tag.title, "?filter=#{post.tag.id}"
            p.post-title
              = link_to post.title, post
          .card-action
            .row.no-margin
              .col.s3.writer-image style="background-image: url('#{post.team_member.photo.url}');"
              .col.l9
                span.writer-name
                  = post.team_member.name
                br
                span.post-date
                  = post.created_at.strftime("%d/%m/%Y às %H:%M")
