#post-header
  .backshade
  .back-img
    = image_tag @post.header.url, alt: @post.title, title: @post.title
  .header-backdrop
    = render 'shared/header'
  .header
    span.tag-button
      = @post.tag.title
    h1
      = @post.title
