#post-body
  .card.body-card.white
    .body
      .card-content
        .row
          .col.s12.l10.offset-l2
            .breadcrumbs
        .row
          .col.l2.s12.post-data
            span.posted-by
              = t("post-body.posted-by")
            .writer-image style="background-image: url('#{ @post.team_member.photo.url}');"
            p.writer-name
              = @post.team_member.name
            p.writer-job
              = @post.team_member.job
            .divisory
            .social-row
              .social-item
                - if @post.team_member.facebook.present?
                  = link_to @post.team_member.facebook, target: "_blank", class:"social-link" do
                    = fa_icon 'facebook 2x', class: 'center-align'
                - if @post.team_member.github.present?
                  = link_to @post.team_member.github, target: "_blank", class:"social-link" do
                    = fa_icon 'github 2x', class: 'center-align'
                - if @post.team_member.behance.present?
                  = link_to @post.team_member.behance, target: "_blank", class:"social-link" do
                    = fa_icon 'behance 2x', class: 'center-align'
                - if @post.team_member.linkedin.present?
                  = link_to @post.team_member.linkedin, target: "_blank", class:"social-link" do
                    = fa_icon 'linkedin 2x', class: 'center-align'
          .col.s12.l10
            .text
              = raw @post.text
        .row
          hr
          .col.s12.l10.offset-l2.valign-wrapper.sherable-links
            = t("post-body.share")
            br
            .addthis_inline_share_toolbox
          hr
        = render 'posts/partials/comment-section'
