#subscribe-popup
  #subscription-form
    h3
      = t("subscribe-popup.question")
      = @post.tag.title
      | ?
    form#submit-subscribe
      input#subscription-email[type="text" placeholder="Email" name=""]
      button.send-subscription[type="submit"]
        = t("subscribe-popup.subscribe")
  #subscribe-loading
    p
      = fa_icon 'spinner pulse 3x fw', class: 'center-align'
  #success-message
    h3
      = t("subscribe-popup.success")
    p
      = t("subscribe-popup.thanks")
  button.close-popup[onclick="closePopup()"]
    = fa_icon '2x times', class: 'center-align'
