section#intro
  = render 'shared/header'
  .content
    .title
      = t("remotes.title")
    .description
      = t("remotes.description")
    button.prolancer-button onclick="gotoID('#form')"
      = t("remotes.prolancer-button")
= render 'remotes/_new/how-it-works'
= render 'remotes/_new/form'
= render 'shared/footer'
