<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field mce-field">
  <%= f.text_area field.attribute, :class => "tinymce", :rows => 20, :cols => 240 %>
</div>

<% content_for :javascript do %>
  <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({
    selector: 'textarea',
    theme: 'modern',
    plugins: [
      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime media nonbreaking save table contextmenu directionality',
      'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
    ],
    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    toolbar2: 'print preview media | forecolor backcolor emoticons | codesample | fontselect fontsizeselect',
    image_advtab: true,
    content_css: [
      '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
      '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
      'https://fonts.googleapis.com/css?family=Poppins:300,400,600,700',
      'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700',
      'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700',
      '//www.tinymce.com/css/codepen.min.css'
    ],
    style_formats: [
      {title: 'Fonts', items: [
        {title: 'Poppins', inline: 'span', styles: { 'font-family':'Poppins'}},
        {title: 'Fira Sans', inline: 'span', styles: { 'font-family':'Fira Sans'}},
        {title: 'Lato', inline: 'span', styles: { 'font-family':'Lato'}}
      ]},

      {title: 'Headers', items: [
          {title: 'h1', block: 'h1', styles: { 'font-family':'Poppins'}},
          {title: 'h2', block: 'h2', styles: { 'font-family':'Poppins'}},
          {title: 'h3', block: 'h3', styles: { 'font-family':'Poppins'}},
          {title: 'h4', block: 'h4', styles: { 'font-family':'Poppins'}},
          {title: 'h5', block: 'h5', styles: { 'font-family':'Poppins'}},
          {title: 'h6', block: 'h6', styles: { 'font-family':'Poppins'}}
      ]}
    ],
  });

  $(".mce-field").width("65%");
  </script>
<% end %>
