div#footer
  div.row.valign-wrapper
    div.col.l4.s12.valign
      div.go-red
        b #
        | GO
        b RED
    div.col.l2.offset-l1.valign.hide-on-small-only
      = image_tag("Logo_RedRocket_Branco_Assinatura horizontal.svg", class: "responsive-img")
    div.col.l3.offset-l2.valign.hide-on-small-only
      div.social-row
        div.social-item
          b = link_to 'https://www.linkedin.com/company-beta/16210057/', target: "_blank" do
            = image_tag 'icons/svg/icon_linkedin_1.svg', class: 'social-icon'
        div.social-item
          b = link_to 'https://www.facebook.com/redrocketit', target: "_blank" do
            = image_tag 'icons/svg/icon_facebook_1.svg', class: 'social-icon'
        div.social-item
          b = link_to 'https://www.instagram.com/redrocket_ti/', target: "_blank" do
            = image_tag 'icons/svg/icon_instagram_1.svg', class: 'social-icon'
  div.footer-menu.hide-on-small-only
    div.footer-menu-item onclick="gotoID('#what-we-do-content')"
      = t('menu.what-we-do')
    div.footer-menu-item onclick="gotoID('#how-it-works')"
      = t('menu.how-it-works')
    div.footer-menu-item onclick="gotoID('#portfolio')"
      = t('menu.portfolio')
    div.footer-menu-item
      a href="/blog" class="white-text"
        = t('menu.blog')
    div.footer-menu-item onclick="gotoID('#work-with-us')"
      a href="/remotes/new" class="white-text"
        = t('menu.work-with-us')
  div.footer-rights
    | 2017 @ red rocket - #{t('rights')}
