nav.transparent
  div.nav-wrapper
    .container-fluid
      = link_to '/', class: 'brand-logo' do
        = image_tag 'logo-header.svg'
      a(href="#" data-activates="mobile-menu" class="button-collapse")
        = fa_icon 'bars', class: 'white-text'
      ul.common-menu#nav-mobile.right.hide-on-med-and-down
        li
          a href="/remotes/new" class="menu-links"
            = t('menu.work-with-us')
        li
          a href="/blog" class="menu-links"
            = t('menu.blog')
        li
          button onclick="gotoID('#portfolio')" class='menu-links'
            = t('menu.portfolio')
        li
          button onclick="gotoID('#how-it-works')" class="menu-links"
            = t('menu.how-it-works')
        li
          button onclick="gotoID('#what-we-do-content')" class="menu-links"
            = t('menu.what-we-do')
      ul.side-nav#mobile-menu.redrocket-color.hide-on-large-only
        li onclick="gotoID('#what-we-do-content')" class="white-text"
          = t('menu.what-we-do')
        li onclick="gotoID('#how-it-works')" class="white-text"
          = t('menu.how-it-works')
        li onclick="gotoID('#portfolio')" class="white-text"
          = t('menu.portfolio')
        li
          a href="/blog" class="white-text no-padding"
            = t('menu.blog')
        li
          a href="/remotes/new" class="white-text no-padding"
            = t('menu.work-with-us')
