= render 'pages/_home/intro'
= render 'pages/_home/what_we_do'
= render 'pages/_home/technologies'
= render 'pages/_home/how-it-works'
= render 'pages/_home/portfolio'
= render 'pages/_home/testimonials'
= render 'pages/_home/call-to-action'
= render 'pages/_home/blog-posts'
= render 'shared/footer'
= render 'layouts/tags/drift'

