$break-small: 600px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#posts-index{
  #header{
    padding: 50px;

    @include respond-to(handhelds) {
      min-height: 425px;
    }
    @include respond-to(medium-screens) {
      min-height: 550px;
    }
    @include respond-to(wide-screens) {
      min-height: 550px;
    }
    background-color: #c40000;
    white-space: pre-wrap;
  }

  .header-backdrop{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);


    min-height: 152px;
    display: flex;
    align-items: center;

    .brand-long{
      margin-top: -10px;
    }
  }

  h1{
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: 150px;
    margin-bottom: 80px;

    b{
      font-weight: 600;
    }
  }

  #tag-list{
    @include respond-to(handhelds) {
      display: none;
    }

    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-top: -40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .tag-button{
      margin: 10px;
      border: 1px white solid;
      padding: 3px 15px;
      border-radius: 5px;
      font-size: 14px;
      color: white;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .see-more{
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
    }
  }
}
