$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#posts-index{
  background-color: #e6e7e9;

  #list-of-posts{
    position: relative;
    min-height: 600px;
    margin-top: -45px;

    .main-card{
      @include respond-to(handhelds) {
        margin-left: 0%;
        margin-right: 0%;
      }
      @include respond-to(medium-screens) {
        margin-left: 8%;
        margin-right: 8%;
      }
      @include respond-to(wide-screens) {
        margin-left: 8%;
        margin-right: 8%;
      }

      padding: 30px;
      position: relative;
      padding-bottom: 130px;
      border-radius: 0px;
      margin-top: -80px;

      .load-more{
        background-color: transparent;
        color: #c40000;
        border: 2px solid #c40000;
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 2px;

        @include respond-to(handhelds) {
          width: 65%;
        }
      }

      .load-more:hover{
        background-color: #c40000;
        text-transform: uppercase;
        border: 2px solid transparent;
        font-size: 14px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 2px;
        color: white;
      }

      .card-title{
        margin: 0px;
        font-size: 16px;
        text-transform: uppercase;
        color: #757575;
        margin-bottom: 30px;
        margin-top: 20px;
      }

      .post:last-of-type{
        border-bottom: 0px solid #f5f5f5;
      }

      .post{
        position: relative;
        border-bottom: 3px solid #f5f5f5;
        padding-bottom: 10px;

        .photo-col{
          @include respond-to(handhelds) {
            padding-right: 0px;
          }
          @include respond-to(medium-screens) {
            padding-right: 30px;
          }
          @include respond-to(wide-screens) {
            padding-right: 30px;
          }

          text-align: center;
          padding-left: 0px;
          img{
            max-width: 100%;
          }
        }

        .text-col{
          padding-right: 0px;

          .tag-title{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            a{
              color: #c40000;
            }
          }

          .post-title{
            font-weight: 600;
            a{
              color: black;
            }

            a:hover{
              color: #C40000;
            }
          }

          .see-more{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            color: black;
          }

          .see-more:hover{
            color: #C40000;
          }

          .no-margin{
            margin: 0px;
          }

          .user-row{
            margin-top: 30px;
            .writer-image{
              border-radius: 50px;
              width: 60px;
              height: 60px;
              background-position: center;
              /* Make the background image cover the area of the <div>, and clip the excess */
              background-size: cover;
            }

            .post-data{
              margin-left: 10px;
              padding-top: 10px;

              .writer-name{
                font-size: 16px;
                font-weight: 600;
              }

              .post-date{
                font-size: 12px;
                font-weight: 400;
                color: #9e9e9e;
              }
            }
          }
        }
      }
    }
  }
}
