$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#blog-posts{
  @include respond-to(handhelds) {
    padding: 30px 5% 80px;
  }
  @include respond-to(medium-screens) {
    padding: 30px 10% 80px;
  }
  @include respond-to(wide-screens) {
    padding: 30px 10% 80px;
  }

  min-height: 300px;
  background-color: #f8f8f8;

  .title{
    text-align: center;
    padding: 20px 0px;
    font-size: 35px;
    font-weight: 600;

    span{
      margin: 0px 0px 0px 10px;
      font-weight: 400;
    }
  }

  .cards-row{
    margin-bottom: 60px;

    .card{
      border-radius: 0px;

      .card-content{
        padding: 10px 20px;
      }

      .card-action{
        padding: 10px 20px;
        max-height: 80px;
      }

      img{
        border-radius: 0px;
        max-height: 244px;
      }

      .post-title{
        font-size: 20px;
        font-weight: 600;

        a{
          color: black;
        }
      }

      .writer-name{
        font-size: 16px;
      }

      .post-date{
        font-size: 12px;
        color: #9e9e9e;
      }

      .tag-title{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;

        a{
          color: #c40000;
          letter-spacing: 1px;
        }
      }

      .writer-image{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .see-more{
    text-transform: uppercase;
    background-color: transparent;
    color: #c40000;
    border-radius: 3px;
    padding: 10px 25px;
    letter-spacing: 3px;
    height: inherit;
    font-size: 14px;
    transition: all 1s ease;
    border: 2px solid #c40000;
    border-radius: 3px;
  }

  .see-more:hover{
    color: white !important;
    background-color: #c40000 !important;
  }
}
