$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#call-to-action{
  padding: 75px 0px 75px;

  .title{
    padding: 0px 10px 20px;
    text-align: center;
    font-size: 35px;
    color: #c40000;
    font-weight: 600;
  }

  .flex-button-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a{
      margin: 10px 20px;
    }
  }
}
