$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


#how-it-works{
  min-height: 300px;
  background-color: #f8f8f8;
  padding: 100px 0px 80px;

  .title{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }

  .steps-row{
    @include respond-to(wide-screens) { padding: 0px 5%; }
    @include respond-to(medium-screens) { padding: 0px 15%; }
    @include respond-to(handhelds) { padding: 0px 10%; }

    margin: 40px 0px 50px;
    position: relative;

    .col{
      @include respond-to(handhelds) { margin: 10px 0px; }
    }

    .steps-img{
      position: absolute;

      img{
        max-width: 60px;
        width: 60px;
      }
    }

    .steps-info{
      margin-left: 80px;

      .col-title{
        font-weight: 600;
        font-size: 20px;
      }

      .description{
        font-size: 16px;
        font-weight: 300;
        color: #666;
      }
    }
  }
}
