$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


#portfolio{
  .section{
    display: flex;
    align-items: center;

    padding-right: 8%;
    padding-left: 8%;
    min-height: 650px;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .row{
      @include respond-to(wide-screens) {
        display: flex;
        align-items: center;
      }

      @include respond-to(medium-screens) {
        display: flex;
        align-items: center;
      }

      margin-bottom: 0px;
    }

    img{
      max-width: 100%;
    }

    &.odd{
      background-color: rgb(236, 247, 255);
    }

    .type-of-project{
      @include respond-to(handhelds) { padding-left: 10px; }
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 16px;
      padding-bottom: 10px;
      font-weight:400;
      color: #9c9aa0;
    }

    .project-title{
      @include respond-to(handhelds) { padding-left: 10px; }
      font-size: 30px;
      font-weight: 600;
      line-height: 35px;
      margin-bottom: 15px;
    }

    .project-description{
      @include respond-to(handhelds) { padding-left: 10px; }
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 25px;
      color: #77787b;
      line-height: 32px;
    }

    .go-to-project{
      a{
        @include respond-to(handhelds) { padding-left: 10px; }
        color: #c40000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }
}
