$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#technologies{
  @include respond-to(handhelds) { padding: 50px 20px; }
  @include respond-to(medium-screens) { padding: 50px 20px; }
  @include respond-to(wide-screens) { padding: 100px 50px; }

  background-color: #C40000;
  min-height: 300px;
  position: relative;

  .section-title{
    font-size: 35px;
    text-align: center;
  }

  .section-description{
    @include respond-to(handhelds) { padding: 15px 10px; }
    @include respond-to(medium-screens) { padding: 15px 20%; }
    @include respond-to(wide-screens) { padding: 15px 20%; }
    font-size: 18px;
    font-weight: 200;
    line-height: 32px;
  }

  .flex-image-row{
    @include respond-to(handhelds) { padding: 0px 50px; }
    @include respond-to(medium-screens) { padding: 15px 20%; }
    @include respond-to(wide-screens) { padding: 0px 15%; }

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img{
      max-width: 140px;
    }
  }
}
