$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#testimonials{
  min-height: 500px;
  background-color: #C40000;

  @include respond-to(medium-screens) {
    padding-right: 8%;
    padding-left: 8%;
  }
  @include respond-to(wide-screens) {
    padding-right: 8%;
    padding-left: 8%;
  }
  overflow-x: hidden;

  .section-header{
    color: white;
    text-align: center;
    font-size: 35px;

    padding-top: 50px;
    font-weight: 600;
    padding-bottom: 20px;


    @include respond-to(handhelds) {
      font-size: 24px;
    }
  }

  .indicators-row{
    width: 100%;
    display: flex;
    justify-content: center;

    .indicator{
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 50%;
      margin-left: 8px;
      margin-right: 8px;
    }

    .indicator.active{
      background-color: white;
    }
  }

  .testimonials-col{
    .testimonials-card{
      padding-left: 25%;
      min-height: 280px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;

      img{
        position: absolute;
        width: 80px;
        bottom: 50px;
        left: 13%;
        transform: translateX(-50%)
      }

      img.quote-image{
        top: 40px;
        max-width: 40px;
      }

      p{
        padding-right: 30px;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 40px;
      }

      h5{
        color: #c40000;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;

        span{
          text-transform: initial;
          letter-spacing: 1px;
          font-weight: 400;
          color: #757575;
        }
      }
    }
  }
}
