$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


#what-we-do{
  @include respond-to(handhelds) { min-height: 1200px; }
  @include respond-to(medium-screens) { min-height: 1100px; }
  @include respond-to(wide-screens) { min-height: 400px; }
  background-color: black;
  position: relative;

  #what-we-do-content{
    @include respond-to(handhelds) { padding: 0px 5%; }

    position: absolute;
    top: -300px;
    width: 100%;
    padding: 0px 10%;

    .section-header{
      color: white;
      text-align: center;
      font-size: 35px;
      font-weight: 600;

      @include respond-to(handhelds) { margin-bottom: 30px; font-size: 32px;}
      @include respond-to(medium-screens) { margin-bottom: 100px; }
      @include respond-to(wide-screens) { margin-bottom: 100px; }
    }

    .card-title{
      line-height: 20px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .card-content{
      @include respond-to(medium-screens) {
        padding: 25px;
        min-height: 360px;
      }
      @include respond-to(wide-screens) {
        padding: 25px;
        min-height: 360px;
      }
    }

    .description{
      font-weight: 100;
      font-size: 16px;
      padding-top: 5px;
      margin-bottom: 20px;
      color: #777;
    }

    .information{
      margin: 5px 0px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.75px;
    }

    img{
      max-width: 110px;
    }
  }
}
