#form
  .row
    .col.l6.offset-l3.m6.offset-m3.s12
      .card-panel
        #chat.conv-form-wrapper
          form#projectForm.hidden[action="/projects" method="POST"]
            select[conv-question="#{t('projects.form.questions.greeting')}"]
              option[value="vamos"]
                = t("projects.form.start")
            input[type="text" name="user_name" conv-question="#{t('projects.form.questions.user_name_question')}"]
            input[type="text" name="name" conv-question="#{t('projects.form.questions.name_question')}"]
            select[name="project_type" conv-question="#{t('projects.form.questions.project_type_question')}"]
              option[value="Aplicativo"]
                = t('projects.form.answers.project_type.app')
              option[value="Landing Page"]
                = t('projects.form.answers.project_type.landing-page')
              option[value="E-commerce"]
                = t('projects.form.answers.project_type.e-commerce')
              option[value="Clube de Assinatura"]
                = t('projects.form.answers.project_type.signature-club')
              option[value="Outro"]
                = t('projects.form.answers.project_type.other')
            select#prazo[conv-question="#{t('projects.form.questions.timing_question')}" name="timing" required=""]
              option[value="1 mês"]
                = t('projects.form.answers.timing.one-month')
              option[value="2 meses"]
                = t('projects.form.answers.timing.two-months')
              option[value="3 meses"]
                = t('projects.form.answers.timing.three-months')
              option[value="Mais de três meses"]
                = t('projects.form.answers.timing.more-then-three-months')
            select[name="budget" conv-question="#{t('projects.form.questions.budget_question')}"]
              option[value="R$1.000 a R$5.000"]
                = t('projects.form.answers.budget.till-5k')
              option[value="R$5.000 a R$15.000"]
                = t('projects.form.answers.budget.till-15k')
              option[value="R$15.000 a R$30.000"]
                = t('projects.form.answers.budget.till-30k')
              option[value="mais de R$30.000"]
                = t('projects.form.answers.budget.more-then-30k')
            input#email[conv-question="#{t('projects.form.questions.user_email_question')}" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" name="user_email" required=""]
            input#telefone[conv-question="#{t('projects.form.questions.user_phone_question')}" type="tel" pattern="^\(?[0-9]{2,2}(\)|\s)?\s?([0-9]{8,}|([0-9]{4,5}(-|\s)?[0-9]{4,4}))$" name="user_phone" required=""]
            select[conv-question="#{t('projects.form.questions.end_question')}"]
              option[value=""]
                = t("projects.form.start")
