#blog-posts
  .title
    | blog_
    span red
    | rocket
  .row.cards-row
    - @posts.each do |post|
      .col.l4.s12
        .card
          .card-image
            = link_to post do
              = image_tag post.header.url, alt: post.title, title: post.title
          .card-content
            span.tag-title
              = link_to post.tag.title, "?filter=#{post.tag.id}"
            p.post-title
              = link_to post.title, post
          .card-action
            .row.no-margin
              .col.s3.writer-image style="background-image: url(' #{post.team_member.photo.url} ');"
              .col.l9
                .writer-name
                  = post.team_member.name
                span.post-date
                  = post.created_at.strftime("%d/%m/%Y às %H:%M")
  div.center
    = link_to t("blog.see-more"), "/blog", class: "see-more"
