div#call-to-action
  .title
    = t("call-to-action.title")
  .flex-button-row
    = link_to t("call-to-action.start-project"), new_project_path, class: "start-project"
    = link_to t("call-to-action.be-prolancer"), new_remote_path, class: "be-prolancer"
