div#how-it-works
  div.title
    = t("how-it-works.title")
  div.row.steps-row
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_sua-ideia.svg")
      .steps-info
        .col-title
          = t("how-it-works.steps.first.title")
        .description.fira-sans
          = t("how-it-works.steps.first.description")
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_proposta.svg")
      .steps-info
        .col-title
          = t("how-it-works.steps.second.title")
        .description.fira-sans
          = t("how-it-works.steps.second.description")
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_foguete.svg")
      .steps-info
        .col-title
          = t("how-it-works.steps.third.title")
        .description.fira-sans
          = t("how-it-works.steps.third.description")
  p.project-button.center
    = link_to t('intro.start-project'), new_project_path, class: "start-project"
