section#intro
  = render 'shared/header'
  .container.center
    div.center-align.white-text.header
      = t('intro.turn-ideas-reality')
    h1.center-align.redrocket-text-color.subheader
      = t('intro.what-we-do')
    p.project-button
      = link_to t('intro.start-project'), new_project_path, class: "start-project"
