div#portfolio
  .section
    .row
      .col.l6.offset-l1.s12.center.hide-on-large-only
        = image_tag("imgs_movpak.png")
      .col.l5.s12
        .type-of-project
          = t("portfolio.first.type")
        .project-title
          = t("portfolio.first.title")
        .project-description.fira-sans
          = t("portfolio.first.description")
        .go-to-project
          = link_to t("portfolio.call-to-action"), t("portfolio.first.url"), target: "_blank"
      .col.l6.s12.center.hide-on-med-and-down
        = image_tag("imgs_movpak.png")
  .section.odd
    .row
      .col.l6.s12.center
        = image_tag("imgs_learny.png")
      .col.l5.offset-l1.s12
        .type-of-project
          = t("portfolio.second.type")
        .project-title
          = t("portfolio.second.title")
        .project-description.fira-sans
          = t("portfolio.second.description")
        .go-to-project
          = link_to t("portfolio.call-to-action"), t("portfolio.second.url"), target: "_blank"
  .section
    .row
      .col.l6.offset-l1.s12.center.hide-on-large-only
        = image_tag("imgs_caixa-da-cegonha.png")
      .col.l5.s12
        .type-of-project
          = t("portfolio.third.type")
        .project-title
          = t("portfolio.third.title")
        .project-description.fira-sans
          = t("portfolio.third.description")
        .go-to-project
          = link_to t("portfolio.call-to-action"), t("portfolio.third.url"), target: "_blank"
      .col.l6.s12.center.hide-on-med-and-down
        = image_tag("imgs_caixa-da-cegonha.png")
