div#technologies.white-text
  div.section-title
    = t("technologies.title")
  p.fira-sans.center.section-description
    = t("technologies.description")
  .flex-image-row
    = image_tag("icons/svg/icone_rails.svg")
    = image_tag("icons/svg/icone_angular.svg")
    = image_tag("icons/svg/icone_ionic.svg")
    = image_tag("icons/svg/icone_react.svg")
