div#testimonials
  div.section-header
    = t("testimonials.title")
  div.row
    div.col.l6.s12.m6.testimonials-col data-id = 0
      div.card.testimonials-card
        = image_tag("icons/svg/icon_citacao_red.svg", class: "quote-image")
        = image_tag( t("testimonials.first.image") , class: "circle responsive-img hide-on-small-only")
        p.roboto
          = t("testimonials.first.text")
        h5
          = t("testimonials.first.client-name") + ", "
          span = t("testimonials.first.project-name")
    div.col.l6.s12.m6.testimonials-col data-id = 1
      div.card.testimonials-card
        = image_tag("icons/svg/icon_citacao_red.svg", class: "quote-image")
        = image_tag( t("testimonials.second.image") , class: "circle responsive-img hide-on-small-only")
        p.roboto
          = t("testimonials.second.text")
        h5
          = t("testimonials.second.client-name") + ", "
          span = t("testimonials.second.project-name")
  div.indicators-row.hide-on-small-only
