div#what-we-do
  div#what-we-do-content
    div.section-header = t("what-we-do.title")
    div
      div.row
        div.col.l4.s12
          div.card
            div.card-content.center
              = image_tag("icons/svg/icone_aplicativos.svg")
              h3.card-title
                = t("what-we-do.app-card.title")
              p.description.fira-sans
                = t("what-we-do.app-card.description")
              div.information
                = t("what-we-do.app-card.price")
              div.information
                = t("what-we-do.app-card.time")
        div.col.l4.s12
          div.card
            div.card-content.center
              = image_tag("icons/svg/icone_lojas-virtuais.svg")
              h3.card-title
                = t("what-we-do.ecommerces-card.title")
              p.description.fira-sans
                = t("what-we-do.ecommerces-card.description")
              div.information
                = t("what-we-do.ecommerces-card.price")
              div.information
                = t("what-we-do.ecommerces-card.time")
        div.col.l4.s12
          div.card
            div.card-content.center
              = image_tag("icons/svg/icone_sites.svg")
              h3.card-title
                = t("what-we-do.sites-card.title")
              p.description.fira-sans
                = t("what-we-do.sites-card.description")
              div.information
                = t("what-we-do.sites-card.price")
              div.information
                = t("what-we-do.sites-card.time")
