$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#comment-section{
  .comment-header{
    font-size: 14px;
    font-weight: 600;

    i{
      font-size: 19px;
      margin-right: 10px;
    }
  }

  .comment{
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
    margin-right: 13%;
    h5{
      font-size: 16px;
      margin-bottom: 0px;
    }
    span{
      font-size: 12px;
      color: #9e9e9e;
    }
    p{
      margin-top: 10px;
      font-size: 14px;
      font-weight: 100;
    }
  }

  .comment-form{
    .comment-form-header{
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 20px;
      font-weight: 900;
    }

    .comment-text-form{
      @include respond-to(medium-screens) {
        width: 97%;
      }
      @include respond-to(wide-screens) {
        width: 97%;
      }

      border: 1px solid #9e9e9e;
      padding: 00px 10px;
      border-radius: 1px;
    }

    .form-left-margin{
      @include respond-to(medium-screens) {
        margin-left: 3%;
      }
      @include respond-to(wide-screens) {
        margin-left: 3%;
      }
    }

    .input-field{
      padding-left: 0px;
    }

    .comment-text-area{
      border-radius: 1px;
      border: 1px solid #9e9e9e;
      padding: 10px;
      margin-bottom: 0px;
      min-height: 80px;
    }

    .send-comment{
      float: right;
      padding: 10px 30px;
      background-color: #c40000;
      border: 0px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
    }

    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
        border-bottom: 1px solid #9e9e9e;
        box-shadow: 0 1px 0 0 #9e9e9e;
    }
  }
}

