#posts-show{
  #most-popular{
    margin-top: -100px;
    min-height: 450px;
    background-color: #c40000;
    padding-top: 100px;
    padding-left: 7%;
    padding-right: 7%;
    float:left;
    clear:none;
    padding-bottom: 30px;
    width: 100%;

    .sub-header{
      margin-top: 50px;
      text-align: center;
      color: white;
      font-size: 24px;
      font-weight: 600;
    }

    .card{
      border-radius: 0px;

      .card-content{
        padding: 10px 20px;
      }

      .card-action{
        padding: 10px 20px;
        max-height: 80px;
      }

      img{
        border-radius: 0px;
      }

      .post-title{
        font-size: 20px;
        font-weight: 600;
        a{
          color: black;
        }
      }

      .tag-title{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;

        a{
          color: #c40000;
        }
      }

      .writer-image{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-position: center;
        /* Make the background image cover the area of the <div>, and clip the excess */
        background-size: cover;
      }
    }
  }
}
