$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#posts-show{
  #post-body{
    @include respond-to(handhelds) {
      padding-left: 0%;
      padding-right: 0%;
    }
    @include respond-to(medium-screens) {
      padding-left: 7%;
      padding-right: 7%;
    }
    @include respond-to(wide-screens) {
      padding-left: 7%;
      padding-right: 7%;
    }

    h2{
      line-height: 1.1;
      font-weight: 600;
    }

    h3{
      line-height: 1.1;
      font-weight: 600;
    }

    min-height: 500px;

    .body-card{
      z-index: 1;
      margin-top: -100px;
    }

    iframe{
      max-width: 100%;
    }

    img{
      max-width: 100%;
      height: inherit;
    }

    ul:not(.browser-default) li {
      list-style-type: disc;
    }

    .post-data{
      text-align: center;
      .posted-by{
        font-size: 12px;
        color: #9e9e9e;
        font-weight: 100;
      }

      .divisory{
        border-bottom: 1px #bdbdbd solid;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 44%;
        margin-right: 44%;
      }

      .writer-name{
        margin-top: 20px;
        font-weight: 600;
      }

      .writer-job{
        font-size: 14px;
        color: #9e9e9e;
      }

      .writer-image{
        border-radius: 50px;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 15px;
      }

      .social-link{
        position: relative;
        margin-left: 3px;
        margin-right: 3px;

        i{
          color: #9e9e9e;
        }
      }
    }

    .text{
      text-align: justify;

      @include respond-to(wide-screens) {
        padding-right: 15%;
      }

      p{
        margin-bottom: 20px !important;
      }

      strong{
        font-weight: 600 !important;
      }
    }

    hr{
      margin-left: 16.6666666667%;
      margin-right: 12%;
      border-color: #c5c5c5;
      border-top: 1px;
    }

    .sherable-links{
      padding: 40px 10px;
      font-weight: 600;
      position: relative;
      .share-alt{
        font-size: 19px;
        margin-right: 10px;
      }

      .addthis_inline_share_toolbox{
        margin: 0px 10px;
      }

      .at-share-btn{
        border: 2px solid #666666;
      }
    }

    .jssocials{
      padding: 0 15px;

      .jssocials-shares{
        display: flex;

        .jssocials-share-twitter{
          a{
            padding: 5px 12px;
          }
        }

        .jssocials-share-facebook{
          a{
            padding: 5px 13px;
          }
        }

        .jssocials-share-linkedin{
          a{
            padding: 5px 12px;
          }
        }
      }
    }
  }
}
