$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#posts-show{
  background-color: #e6e7e9;

  #post-header{
    @include respond-to(handhelds) {
      min-height: 600px;
    }
    @include respond-to(medium-screens) {
      min-height: 600px;
    }
    @include respond-to(wide-screens) {
      min-height: 600px;
    }
    white-space: pre-wrap;
    background-position: center;
    background-size: cover;
  }

  .back-img{
    max-height: 650px;
    overflow: hidden;
    position: absolute;
    top: -50px;
    min-width: 100%;
    max-width: 100%;

    img{
      min-width: 100%;
    }
  }

  .backshade{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
  }

  .header-backdrop{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;


    min-height: 152px;
    display: flex;
    align-items: center;

    .brand-long{
      margin-top: -10px;
    }
  }

  .header{
    white-space: normal !important;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);

    @include respond-to(handhelds) {
      width: 80%;
    }

    h1{
      margin-top: 40px !important;
      color: white;
      font-weight: 600;
      margin: 0px;
      font-size: 3.4rem;

      @include respond-to(handhelds) {
        font-size: 30px;
      }
    }

    .tag-button{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #c40000;
      padding: 3px 13px;
      border-radius: 3px;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }

    h4{
      font-size: 14px;
      font-weight: 600;
      color: white;
    }
  }
}
