#subscribe-popup{
  max-width: 100%;
  transition: all 0.6s ease-in-out;
  position: fixed;
  width: 450px;
  max-height: 300px;
  bottom: -300px;
  background: #c40000;
  z-index: 100;
  right: 0px;
  padding: 40px 30px;

  &.visible{
    bottom: 0px;
  }

  h3{
    font-size: 26px;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .send-subscription{
    background: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-transform: uppercase;
  }

  input{
    padding-left: 10px;
    width: calc(100% - 10px);
    background: white;
    color: black;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: black;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: black;
  }

  .close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    background-color: transparent;
  }

  #success-message{
    display: none;

    h3{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p{
      text-align: center;
      color: white;
    }
  }

  #subscribe-loading{
    color: white;
    display: none;

    p{
      text-align: center;
    }
  }
}
