#form
  div.row
    div.col.l6.offset-l3.s12
      .title
        = t("remotes.form.title")
      .description
        = t("remotes.form.description")
  div.row
    div.col.l6.offset-l3.s12
      = form_tag(remotes_path)
        label for="name"
          = t("remotes.form.fields.name.label")
        div.input-field
          = text_field_tag 'name'

        label for="email"
          = t("remotes.form.fields.email.label")
        div.input-field
          = text_field_tag 'email'

        label for="remote_type"
          = t("remotes.form.fields.remote_type.label")
        div.input-field
          = select_tag "remote_type", options_for_select(["Back End", "Front End", "Designer"])

        label for="tecnologies"
          = t("remotes.form.fields.tecnologies.label")
        div.input-field
          = text_field_tag 'tecnologies'

        label for="github"
          = t("remotes.form.fields.github.label")
        div.input-field
          = text_field_tag 'github'

        label for="behance"
          = t("remotes.form.fields.behance.label")
        div.input-field
          = text_field_tag 'behance'

        label for="links"
          = t("remotes.form.fields.links.label")
        div.input-field
          = text_area_tag 'links', nil, placeholder: "#{t("remotes.form.fields.links.placeholder")}", class: "materialize-textarea"

        label for="about"
          = t("remotes.form.fields.about.label")
        div.input-field
          = text_area_tag 'about', nil, placeholder: "#{t("remotes.form.fields.about.placeholder")}", class: "materialize-textarea"

        label for="how_you_met_red"
          = t("remotes.form.fields.how_you_met_red.label")
        div.input-field
          = select_tag "how_you_met_red", options_for_select([\
          "#{t('remotes.form.fields.how_you_met_red.options.internet')}",
          "#{t('remotes.form.fields.how_you_met_red.options.referral')}",
          "#{t('remotes.form.fields.how_you_met_red.options.facebook')}",
          "#{t('remotes.form.fields.how_you_met_red.options.instagram')}",
          "#{t('remotes.form.fields.how_you_met_red.options.other')}"])

        .center
          button.send-form
            | ENVIAR
