div#how-it-works
  div.title
    = t("how-it-works.title")
  div.row.steps-row
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_cadastre-se.svg")
      .steps-info
        .col-title
          = t("remotes.how-it-works.first.title")
        .description
          = t("remotes.how-it-works.first.description")
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_convites.svg")
      .steps-info
        .col-title
          = t("remotes.how-it-works.second.title")
        .description
          = t("remotes.how-it-works.second.description")
    div.col.l4.s12
      .steps-img
        = image_tag("icons/svg/icone_pagamento.svg")
      .steps-info
        .col-title
          = t("remotes.how-it-works.third.title")
        .description
          = t("remotes.how-it-works.third.description")
