<%= render 'posts/partials/post-header' %>
<%= render 'posts/partials/post-body' %>
<%= render 'posts/partials/most-popular' %>
<%= render 'posts/partials/subscribe-popup' %>
<%= render 'shared/footer'%>
<%= hidden_field_tag(:id, @post.id, id:"post-id") %>
