$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#remotes-new{
  #form{
    @include respond-to(handhelds) {
      padding: 50px 20px;
    }

    padding: 80px 30px;
    background-color: #f8f8f8;

    .title{
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }

    .description{
      text-align: center;
      margin-bottom: 20px;
    }

    label{
      color: #444;
    }

    .input-field{
      margin-top: 5px;
    }

    input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{

      @include respond-to(handhelds) {
        max-width: calc(95% - 10px);
      }

      border: 1px solid #bdbdbd;
      border-radius: 3px;
      background-color: white;
      padding: 0px 10px;
      box-shadow: none;
      z-index: 1;
    }

    textarea.materialize-textarea{
      padding: 10px 10px;
    }

    .select-wrapper{
      .caret{
        @include respond-to(handhelds) {
          right: 10px;
        }
        color: black;
        z-index: 2;
      }
    }

    .dropdown-content li > a, .dropdown-content li > span{
      color: black;
    }

    .send-form{
      @include respond-to(handhelds) {
        font-size: 13px;
      }
      @include respond-to(medium-screens) {
        font-size: 15px;
      }
      @include respond-to(wide-screens) {
        font-size: 15px;
      }

      text-transform: uppercase;
      background-color: #c40000;
      border: none;
      color: white;
      border-radius: 3px;
      padding: 15px 60px 15px 60px;
      letter-spacing: 3px;
      height: inherit;
      transition: all 1s ease;
    }

    .send-form:hover{
      color: #C40000 !important;
      background-color: white !important;
    }
  }
}
