#remotes-new{
  #how-it-works{
    background-color: black;
    padding: 50px 0px 50px;

    .title{
      color: white;
    }

    .steps-row{
      .steps-info{
        .col-title{
          color: white;
        }

        .description{
          color: white;
        }
      }
    }
  }
}
