$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#remotes-new{
  #intro {
    min-height: 700px;
    padding-top: 30px;
    background-image: url("https://storage.googleapis.com/images-projects/bg_prolancer_final.jpg");
    background-color: rgba(0, 0, 0, .95);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    padding-bottom: 0px;
  }

  .content{
    @include respond-to(handhelds) {
      width: 100%;
      padding: 100px 30px;
    }
    @include respond-to(medium-screens) {
      width: 70%;
      padding: 100px 60px;
    }
    @include respond-to(wide-screens) {
      width: 50%;
      padding: 100px 60px;
    }

    .title{
      @include respond-to(handhelds) {
        font-size: 24px;
      }
      @include respond-to(medium-screens) {
        font-size: 44px;
      }
      @include respond-to(wide-screens) {
        font-size: 44px;
      }

      color: white;
      font-weight: 600;
    }

    .description{
      @include respond-to(handhelds) {
        font-size: 14px;
      }
      @include respond-to(medium-screens) {
        font-size: 16px;
      }
      @include respond-to(wide-screens) {
        font-size: 16px;
      }
      color: white;
      font-weight: 400;
      margin: 15px 0px 60px;
    }

    .prolancer-button{
      @include respond-to(handhelds) {
        font-size: 13px;
      }
      @include respond-to(medium-screens) {
        font-size: 16px;
      }
      @include respond-to(wide-screens) {
        font-size: 16px;
      }

      text-transform: uppercase;
      background-color: #c40000;
      color: white;
      border-radius: 3px;
      padding: 15px 30px;
      letter-spacing: 3px;
      height: inherit;
      transition: all 1s ease;
      border: none;
    }

    .prolancer-button:hover{
      color: #C40000 !important;
      background-color: white !important;
    }

  }
}
