/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require materialize
 *= require font_poppins
 *= require font-awesome
 *= require animate
 *= require sweetalert2.min
 *= require_tree .
 *= require_self
 */

@import 'ionicons';


html, body {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.roboto{
  font-family: 'Fira Sans', sans-serif;
}

.fira-sans{
  font-family: 'Fira Sans', sans-serif;
}

.no-padding{
  padding: 0px;
}

.no-margin{
  margin: 0px;
}

.sharethis-inline-share-buttons{
  width: 100%;
}
