$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.redrocket-text-color {
  color: #C40000;
}

.redrocket-color {
  background-color: #C40000
}

.full-img{
  width: 100%
}


#sidenav-overlay{
  z-index: 1;
}



p.project-button{
  padding-top: 40px;
}

.start-project{
  @include respond-to(handhelds) {
    font-size: 13px;
  }
  @include respond-to(medium-screens) {
    font-size: 17px;
  }
  @include respond-to(wide-screens) {
    font-size: 17px;
  }

  text-transform: uppercase;
  background-color: #c40000;
  color: white;
  border-radius: 3px;
  padding: 20px 30px 20px 30px;
  letter-spacing: 3px;
  height: inherit;
  transition: all 1s ease;
  border: solid 2px #CB0000;
}

.start-project:hover{
  color: #C40000 !important;
  background-color: white !important;
  border: solid 2px #CB0000;
}


.be-prolancer{
  @include respond-to(handhelds) {
    font-size: 13px;
  }
  @include respond-to(medium-screens) {
    font-size: 17px;
  }
  @include respond-to(wide-screens) {
    font-size: 17px;
  }

  text-transform: uppercase;
  background-color: transparent;
  color: #c40000;
  border-radius: 3px;
  padding: 20px 30px;
  letter-spacing: 3px;
  height: inherit;
  transition: all 1s ease;
  border: 2px solid #c40000;
  border-radius: 3px;
}

.be-prolancer:hover{
  color: white !important;
  background-color: #c40000 !important;
}
