$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

#footer{
  min-height: 450px;
  background-color: #202020;
  padding-top: 150px;
  padding-left: 8%;
  padding-right: 8%;
  overflow-x: hidden;

  .go-red{
    color: white;
    font-size: 30px;
    font-weight: 100;

    @include respond-to(handhelds) {
      text-align: center;
    }
  }

  .social-row{
    display: flex;
    justify-content: center;

    .social-item{
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .footer-menu{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .footer-menu-item{
      font-size: 17px;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      margin-left: 25px;
      margin-right: 25px;
      font-weight: 100;
      letter-spacing: 2px;
    }
  }

  .footer-rights{
    margin-top: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
  }
}
