$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


// Override materialize's default nav shadow.
nav {
  box-shadow: none;
  padding-top: 10px;

  .brand-logo {
    display: flex;
    padding-top: 2px;
    img{
      min-height: 100%;
      max-height: 60px !important;
      min-width: 150px;
    }
  }

  ul.side-nav > li {
    padding-left: 20px;

    &:first-child {
      padding-top: 20px;
    }
  }
}

#mobile-menu{
  .mobile-social-row{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 200px;
    width: 100%;

    .mobile-col{
      max-width: 50px;
      margin-left: 20px;
      margin-right: 20px;

      a{
        padding: 0;

        i{
          margin: 0;
        }
      }
    }
  }
}

nav .button-collapse{
  font-size: 24px;
}

ul.common-menu{
  width: 100%;
  text-align: center;
  padding-left: 300px;

  li{
    margin-left: 3%;
    margin-right: 3%;
    float: right;

    .menu-links{
      padding: 0px;
      font-size: 16px;
      font-weight: 100;
      background-color: transparent;
      border: none;
    }

    .menu-links:hover{
      color: #C40000;
    }
  }
}

.social-links-collection{
  position: absolute;
  width: 200px;
  right: 100px;
  top: 52px;
}

#intro{
  .btn:focus{
    background-color: transparent;
  }
}


