$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body#pages-home {
  .container{
    @include respond-to(wide-screens) { width: 80%; }
  }

  .header{
    @include respond-to(handhelds) {
      font-size: 40px;
      line-height: 50px;
    }
    @include respond-to(medium-screens) {
      font-size: 55px
    }
    @include respond-to(wide-screens) {
      font-size: 55px;
      margin-bottom: -20px;
    }

    margin-top: 100px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .subheader{
    @include respond-to(handhelds) {
      font-size: 22px;
      line-height: 28px;
    }
    @include respond-to(medium-screens) {
      font-size: 24px
    }
    @include respond-to(wide-screens) {
      font-size: 24px
    }
    letter-spacing: 3px;
  }
}

#intro {
  min-height: 550px;
  padding-top: 30px;
  background-image: url("https://storage.googleapis.com/site-red/static_assets/bg_inicio.png");
  background-color: rgba(0, 0, 0, .95);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding-bottom: 1000px;
}
