nav ul .social-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

nav ul i.social-icon {
  border: 1px white solid;
  height: 50px;
  width: 50px;

  &:hover {
    background-color: white;
    color: #C40000 !important;
  }
}

.social-icon:hover {
  background-color: #C40000;
  border-radius: 25px;
}
