<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.json">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="google-site-verification" content="r_-_JKC-ln_R7mWE-Zgk8qzpxfqbkOgGnyEYSS-cEj4" >
    <meta property="fb:pages" content="813783885417428" >
    <link rel="publisher" href="https://plus.google.com/110627128983258122053">

    <%= canonical_tag -%>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :js_header %>
  </head>
  <body id='<%= controller.controller_path.gsub("/", "-") + "-" + controller.action_name %>' class='<%= subscribed %>'>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/tags/analytics' %>
    <%= render 'layouts/tags/hotjar' %>
    <%= render 'layouts/tags/structured_data' %>
    <%= render 'layouts/tags/add_this' %>
    <%= render 'layouts/tags/facebook' %>


    <% if !flash[:alert].blank? %>
      <%= toastr(flash[:alert], 4000) %>
    <% end %>
    <% if !flash[:notice].blank? %>
      <%= toastr(flash[:notice], 4000) %>
    <% end %>
  </body>
</html>
